.about-section {
  padding-top: 12vh;
  height: 88vh;
  display: flex;
  flex-direction: row;
  align-items: center;
    justify-content: center;
  text-align: center;
}
.about-description {
    width: 50%;
    margin-right: 80px;

}
.about-title {
    font-size: 4rem;
}
.about-image {
  scale: 1 1;
  width: 280px;
  height: 300px;
  justify-self: center;
}
.about-text-container {
    width: 100%;
}
