.nav {
    height: 12vh;
    padding: 0 40px;
    width: calc(100% - 80px);
}
.nav-link-container {
    display: flex;
    gap: 20px;
    font-size: 1.6rem;
    font-weight: 600;
    align-items: center;
    position: relative;
    flex-direction: row;
    background-color: var(--background-color);
    height: inherit;
    margin: 0;
}
.nav-link {
    padding: 4px 8px;
}
.nav-link:hover {
    border: 2px dotted green;
    padding: 2px 6px;
}
.nav_menu {
    display: none;
}
