.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
}
.footer-section {
    width: 72vw;
    height: max-content;
}
.footer-container {
    color: var(--white);
}
.footer-title {
    font-size: 2.4rem;
    font-weight: 300;
    text-decoration: underline;
    text-decoration-color: var(--orange);
    text-underline-offset: 16px;
    margin-bottom: 16px;
}
.footer-link-container {
    display: flex;
    flex-direction: column;

}
.footer-link {
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
}
.footer-container:nth-child(4) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}
.footer-container:nth-child(4) > .footer-link-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

